#v-projectedit {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  .title {
    width: 80%;
    font-family: 'Lato', sans-serif;
  }
  .project-container {
    display: block;
    width: 100%;
    margin: 32px auto 32px auto;
    max-width: 740px;
    .description {
      margin-bottom: 16px;
      font-family: 'Lato', sans-serif;
      font-size: 1.2em;
    }
    button {
      border: none;
      background-color: @primary-color;
      font-size: 1.3em;
      padding: 4px;
      border-radius: 5px;
      color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.25s;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }
    .participate-button {

    }
    .on-project {
      background-color: @green;
      &:hover {
        cursor: default;
      }
    }
  }
  .container-edit-button {
    position: absolute;
    right: 16px;
    top: 16px;
    .edit-button {
      padding-left: 4px;
      font-size: 2em;
      color: black;
      -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
      -o-transition: all .25s;
      transition: all .25s;
      &:hover {
        cursor: pointer;
        color: @primary-color;
      }
    }
  }
}